{% extends 'core/base.html' %}
{% block title %} Contacto {% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers%}
      <h1>Contacto</h1>
      <span class="subheading"> Asesoria </span>
{% endblock %}

{% block content %}
<div class"row">
      <div class="col-lg-8 col-md-10 mx-auto">
        
        <br>
        <p><b>Telefono:</b>2235225243</p>
        <p><b>Email:</b>gian.f-neira@live.com</p>
      </div>
</div>
{% endblock %}